@using ProdutosDevIO.Extensions
@model IEnumerable<ProdutosDevIO.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h1><b>@ViewBag.Title</b></h1>
<hr />


   <a class="btn btn-info" href="@Url.Action("Create", "Produtos")">
      Novo Produto
   </a>
    


@Html.Partial("_ListaProdutos")